In [4]:
import pandas as pd
import matplotlib as plt

team_df = pd.read_csv("Data_V1/Team_00-20.csv")
opp_df = pd.read_csv("Data_V1/Opp_00-20.csv")
opp_df.head()

,Year,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Playoffs,Championship
0,2000,New York Knicks,82,19905,35.7,85.7,0.417,6.2,17.6,0.352,...,33.6,45.8,21.9,8.3,4.7,16.9,24.4,98.2,True,False
1,2000,Miami Heat,82,19880,37.4,86.8,0.431,5.0,15.1,0.331,...,35.0,47.7,19.7,8.3,5.9,17.7,25.3,98.5,True,False
2,2000,San Antonio Spurs,82,19830,38.3,91.5,0.419,4.6,14.1,0.329,...,32.9,45.9,21.8,8.1,5.8,15.0,26.3,98.0,True,False
3,2000,Charlotte Hornets,82,19880,37.4,87.8,0.426,5.3,14.6,0.360,...,32.9,44.9,23.6,8.3,5.1,16.3,23.9,99.5,True,False
4,2000,Philadelphia 76ers,82,19855,38.3,89.4,0.429,5.7,16.7,0.342,...,31.6,44.7,23.6,9.0,6.1,16.8,25.9,98.9,True,False